<nav class="navbar navbar-darklue">
    <img src="/Images/utility/ham-menu.png" alt="hamburger menu img" class="hamburger-img" id="hamburgerImg">
    
    <div class="hamburger-container blue" id="hamburgerContainer">
        <span id="hamburgerExit">X</span>
        <a href="/bookFlight">Book Flight</a>
        <a href="/aboutus">About Us</a>
        <a href="/contactus">Contact Us</a>
        <a href="/main#JoinLetter">Join News Letter</a>
        <a href="/main#OurSponsors">Our Sponsors</a>
        <br>       
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
    </div>

    <div class="linklist quick-links">
        <a href="/bookFlight">Book Flight</a>
        <a href="/aboutus">About Us</a>
        <a href="/contactus">Contact Us</a>
        <a href="#JoinLetter">Join News Letter</a>
        <a href="#OurSponsors">Our Sponsors</a>
    </div>

    <div class="linklist sign-log">
        <a href="/signup">Sign Up</a>
            <span>or</span>
        <a href="/login">Log In</a>
    </div>
</nav>

<div class="image-container">
    <a href="/"><img class="avicologo avicologo-white" src="/Images/logos/logo avicoWhite.svg" alt="Avico logo White"></a>
</div>

<div class="warning-container">
    <p>Create an account for execlusive rewards and amazing discounts</p>
    <button class="exit-button">X</button>
</div>