<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/default-head.ejs', {title: 'Error 404', additionalStylesheet: '../stylesheets/404.css', domHandler:''}) %>
<body>
    <h1>500</h1>
    <h2>Unexpected Error</h2>
    <a href="/">Go back Home</a>
</body>
</html>